/* Genel sayfa düzeni */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

.homepage-container {
    text-align: left;
    margin: 30px auto;
    max-width: 1200px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

hr {
    width: 60px;
    height: 4px;
    background-color: #17a2b8;
    border: none;
    margin: 20px auto;
}

/* Otel kartları düzeni */
.hotel-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Otel kartı tasarımı (Yatay düzen) */
.hotel-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    padding: 20px;
    height: 100%;
    margin : 10px;
}

    .hotel-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

/* Resim düzeni */
.hotel-image {
    width: 330px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 20px;
}

/* Otel bilgisi */
.hotel-info {
    text-align: left;
    flex-grow: 1;
}

    .hotel-info h2 {
        font-size: 24px;
        color: #333;
        margin: 5px 0;
    }

    .hotel-info p {
        font-size: 16px;
        color: #666;
        margin: 8px 0;
    }

    .hotel-info hr {
        width: 100%;
        border: 1px solid #ddd;
        margin: 10px 0;
    }

/* Konum ve derecelendirme */
.location-area p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #32459c;
    margin-top: 8px;
}

.no-availability {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Buton tasarımı */
.btn-reserve {
    background-color: #28a745;
    color: white;
    padding: 9px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .btn-reserve:hover {
        background-color: #218838;
        color: white;
    }

.btn.btn-info {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .btn.btn-info:hover {
        background-color: #138496;
        color: white;
    }

/* Duyarlı (Responsive) tasarım */
@media (max-width: 768px) {
    .hotel-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .hotel-info {
        text-align: center;
    }

    .location-area {
        justify-content: center;
    }
}
.name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-info p {
    margin-top: 0;
    margin-bottom: 15px;
}


.name-rating h2 a {
    font-family: 'Lora', serif;
    color: #333;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 28px;
    text-decoration: none;
}

.name-rating p {
    margin: 0;
    font-size: 22px;
    color: #FFD700;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 {
    flex: 0 0 50%;
}

.price-info {
    text-align: right;
}

    .price-info p {
        text-align: right;
        font-size: 22px;
        font-weight: 600;
        color: #d9534f;
        margin-bottom: -3px;
    }

    .price-info del {
        text-align: right;
        font-size: 16px;
        font-weight: 600;
        color: #d9534f;
        margin-bottom: -3px;
        margin-right: 5px;
    }

    .text-right {
        text-align:right;
    }

.subtitle-info p {
    margin-top: 1px;
    color: #595959;
    font-size: 11px;
}

.hotel-info .title-area p {
    font-family: 'Lora', serif;
    font-size: 18px;
}

/* Genel arama çubuğu stilleri */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

    .search-bar input[type="text"],
    .search-bar input[type="date"] {
        padding: 15px;
        font-size: 16px;
        border: 1px solid #ddd;
        transition: border-color 0.3s;
    }

        .search-bar input[type="text"]:focus,
        .search-bar input[type="date"]:focus {
            border-color: #3498db;
            outline: none;
        }

    .search-bar input[type="text"] {
        border-radius: 20px 0 0 20px;
        width: 350px;
    }

    .search-bar input[type="date"] {
        width: 270px;
        text-align: center;
        cursor: pointer;
    }

#searchButton {
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    background-color: #017BFF;
    border: 1px solid #017BFF;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0 20px 20px 0;
    width: 100px;
}

    #searchButton:disabled {
        background-color: #bdc3c7;
        border: 1px solid #bdc3c7;
        cursor: not-allowed;
    }

    #searchButton:not(:disabled):hover {
        background-color: #0156B3;
        border: 1px solid #0156B3;
    }

.guest-dropdown {
    position: relative;
    display: inline-block;
}

#guestButton {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 410px;
}

    #guestButton:focus,
    #guestButton:hover {
        border-color: #3498db;
        font-weight: bold;
        outline: none;
    }

.guest-dropdown:focus-within #guestButton {
    font-weight: bold;
}


.guest-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

    .guest-dropdown-content .guest-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

        .guest-dropdown-content .guest-type label {
            font-size: 16px;
            font-weight: 500;
        }

        .guest-dropdown-content .guest-type button {
            width: 30px;
            height: 30px;
            font-size: 18px;
            color: #3498db;
            border: 1px solid #ddd;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            .guest-dropdown-content .guest-type button:hover {
                background-color: #3498db;
                color: white;
            }

/* Açılır menü görünümü */
.guest-dropdown:hover .guest-dropdown-content {
    display: block;
}



.loading-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 350px;
    padding-left: 700px;
    display: none;
    flex-direction: column;
}

    .loading-area img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

.loading-area p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: -10px;
}




.price-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    max-width: 800px;
}

    .price-filter label {
        font-weight: bold;
        color: #555;
    }

    .price-filter input[type="number"] {
        padding: 8px 15px;
        width: 130px;
        border: 1px solid #ddd;
        border-radius: 20px;
        outline: none;
        transition: border-color 0.3s ease;
        font-size: 14px;
    }

        .price-filter input[type="number"]:focus {
            border-color: #007bff;
        }

    .price-filter button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .price-filter button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        .price-filter button:active {
            transform: scale(1);
        }

    /* Price value display */
    .price-filter span {
        font-size: 14px;
        color: #555;
        margin-top: 5px;
        display: inline-block;
        position: relative;
        padding-left: 20px;
    }
    .price-filter .price-before {
        margin-right: 20px;
    }

    .price-filter .price-after::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4CAF50;
    }

    .price-filter .price-before::before {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4CAF50;
    }

/* Basic style for range input */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 0%, #ddd 0%, #ddd 100%);
    border-radius: 5px;
    outline: none;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

.partner-logos {
    display: flex;
    align-items: center;
    gap: 27px; 
    overflow: hidden;
}

    .partner-logos .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        gap: 20px;
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

        .partner-logos .logo img {
            height: 20px;
            width: auto;
        }

        .partner-logos .logo:hover {
            color: #0073e6; /* Hover sırasında yazı rengi */
        }

    .partner-logos .more {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #555;
        white-space: nowrap;
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

