/* Genel düzenleme */
body {
    font-family: 'Playfair Display', serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

/* Detay sayfası için ana konteyner */
.hotel-details-container {
    max-width: 2000px;
    margin: 30px auto;
    padding: 0;
}

/* Otel resmi düzeni */
.hotel-image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
}

.hotel-rating {
    color: goldenrod;
    font-size: 25px;
    text-align: right;
    margin-right: 50px;
}

.hotel-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Otel bilgileri düzeni */
.hotel-info {
    padding: 0 20px;
    text-align: left;
    background-color: transparent;
}

/* Bilgilerin yerleşimi */
.hotel-name {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}

.hotel-location {
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    font-size: 13px;
    color: #638bff;
    margin-top: -5px;
}

.hotel-title {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #757575;
    margin-bottom: 15px;
    margin-top: -15px;
}

.hotel-description {
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    margin-right: 45px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    border-radius: 15px;
    background-color: #ededed;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.hotel-available-rooms {
    margin-bottom: 15px;
    margin-right: 55px;
    margin-top: -15px;
    font-size: 13px;
    color: #638bff;
    text-align: right;
    font-weight: 600;
}


.hotel-price {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

.hotel-actions {
    text-align: left;
    margin-top: 20px;
}

.no-availability {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
    .hotel-details-container {
        padding: 15px;
    }

    .hotel-info {
        padding: 0;
    }

    .hotel-name {
        font-size: 24px;
    }
}

.maximum-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -15px;
}

.maximum-image p {
    font-size: 12px;
    width: 100%;
    height: auto;
}

hr {
    color: #aec6eb;
}

.room-card {
    margin: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
}

    .room-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Hover'da daha belirgin bir gölge */
    }

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Resimlerin boyutlarını kaplamasını sağlar */
    border-bottom: 5px solid #4fd9ff; /* Kartın alt kısmında renkli bir çizgi */
}

.card-body {
    padding: 20px;
    text-align: center; /* Metni ortalıyoruz */
}

    .card-body h4 {
        font-size: 1.5em; /* Başlık boyutu */
        margin: 10px 0; /* Üst ve alt boşluk */
        color: #333; /* Başlık rengi */
    }

    .card-body p {
        color: #666; /* Açık gri renk */
        margin: 5px 0; /* Üst ve alt boşluk */
    }

.room-actions {
    margin-top: 15px;
}

.btn {
    background-color: #4fd9ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    width: 100%;
    height: 45px;
}

        .btn:hover {
            background-color: #3ab7e0; 
            color: white; 
        }

.card-body .card-title a {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-decoration: none;
}

.card-body .card-type {
    font-family: 'Playfair Display', serif;
    margin-top: -5px;
    font-weight: 600;
    color: #4fd9ff;
}

.card-body .rooms-features {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-align: left;
}

.rooms-features .card-parking, .rooms-features .card-coffee {
    color: #227950;
}
.card-body .price-info {
    text-align: right;
    font-size: 22px;
    font-weight: 600;
    color: #d9534f;
    margin-bottom: 10px;
    margin-top: 20px;
}

.card-body .subtitle-info {
    text-align: right;
    font-size: 8px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 10px;
}

.price-info del {
    font-size: 17px;
}

.card-body .number-of-rooms {
    text-align: right;
    color: #AD4B47;
    margin-top: -5px;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 10px;
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alanı başlık ve butonlar arasında böler */
    margin-bottom: 20px;
}

    .header-container h3 {
        font-size: 16px;
        margin-top: 10px;
        margin-right: 15px;
        font-weight: 500;
        color: #333;
    }

.capacity-filter {
    display: flex;
    gap: 8px;
}

.capacity-btn {
    margin-left: 15px;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

    .capacity-btn:hover {
        background-color: #017BFF;
        color: white;
    }

    .capacity-btn.active {
        background-color: #0156B3;
        color: white;
        border-color: #0156B3;
    }

.hotel-facilities ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    gap: 5px;
}

.hotel-facilities .facility-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
}

.hotel-facilities .facility-subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-top: -15px;
    margin-left: 30px;
}

.hotel-facilities .facility-area {
    flex: 1 1 calc(30% - 10px);
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

    .hotel-facilities .facility-area i {
        font-size: 15px;
        margin-bottom: 3px;
        display: block;
        color: #555;
    }

    .hotel-facilities .facility-area span {
        font-size: 13px;
        color: #555;
    }


.location-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.location-map {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.location-address {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
}

    .location-address a {
        color: #007bff;
        text-decoration: none;
    }

        .location-address a:hover {
            text-decoration: underline;
        }


#map {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.location-features h2 {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    font-size: 1.1em;
    font-weight: 600;
}

.location-features .place {
    text-align: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 1em;
    font-weight: 500;
}

.location-features .distance {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 500;
}

.location-features i {
    margin-right: 8px;
}

.location-features a {
    text-align: left;
    margin-top: 5px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.location-features a i {
    font-size: 10px;
}


.wishlist-icon {
    color: red;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 1px;
    margin-right: 10px;
    margin-top: -10px;
    
}

    .wishlist-icon:hover {
        color: darkred;
    }
