body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.card {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    margin: 15px;
    transition: transform 0.3s, box-shadow 0.3s; 
    width: 350px; 
    overflow: hidden;

}

   
    .card:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
    }


.card-image {
    width: 100%; 
    height: 180px; 
    object-fit: cover;
}


.card-body {
    padding: 15px;
}


.card-title a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 0.5em 0;
    color: #34495e;
    font-weight: 600;
    text-decoration: none;
}

.card-body h5 {
    text-align: center;
}


.card-subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1em;
    color: #7f8c8d;
    font-weight: 500;
}



.card-text .available-rooms-area {
    font-size: 0.9em; 
    color: #555;
    margin: 0.5em 0;
}

.card-text .price-per-night-area {
    font-size: 18px;
    text-align: right;
    font-weight: 600;
    color: #d9534f;
}

.card-text .price-per-night-area del {
    font-size: 14px;
    text-align: right;
    font-weight: 600;
    color: #d9534f;
}

.subtitle-info p {
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    margin-top: -15px;
}


.card-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #e67e22;
}

/* Kart eylem bölümü */
.card-actions {
    display: flex;
    justify-content: space-between; /* Eylem butonlarını dağıt */
    align-items: center; /* Dikey ortalama */
    margin-top: 10px; /* Üstten boşluk */
}


@media (max-width: 768px) {
    .card-container {
        justify-content: center;
    }

    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

.button-group {
    display: flex;
    gap: 5px;
}

.btn {
    border-radius: 5px; /* Buton köşe yuvarlama */
    padding: 6px 123px; /* Buton içi boşluk */
    font-size: 0.85em; /* Buton yazı boyutu */
    text-decoration: none; /* Alt çizgi kaldırma */
    transition: background-color 0.3s; /* Hover animasyonu */
}

/* Buton renkleri */
.btn-primary {
    background-color: #3498db; /* Mavi arka plan */
    color: white; /* Beyaz yazı */
    border-color: #3498db;
}

.btn-warning {
    background-color: #f39c12; /* Sarı arka plan */
    color: white; /* Beyaz yazı */
}

.btn-info {
    background-color: #1abc9c; /* Yeşil arka plan */
    color: white; /* Beyaz yazı */
}

.btn-danger {
    background-color: #e74c3c; /* Kırmızı arka plan */
    color: white; /* Beyaz yazı */
}

/* Buton hover efekti */
.btn:hover {
    opacity: 0.9; /* Hoverda saydamlık */
}

.location-rating {
    display: flex; /* Esnek kutu düzeni */
    justify-content: space-between; /* Öğeleri uçlara yerleştir */
    align-items: center; /* Dikey ortalama */
}

.location-rating .rating-area {
    font-size: 20px;
    color: goldenrod;
}

    .location-rating .location-area {
        font-size: 14px;
        font-weight: 500;
        color: #357CDC;
    }

.rating {
    margin-left: auto; /* Sağ tarafta yerleştirme */
}

.page-header {
    text-align: left; /* Metni ortala */
    margin: 30px 0; /* Üst ve alt boşluk */
}

    .page-header h1 {
        font-size: 1.6rem; /* Başlık boyutu */
        font-weight: 600;
        color: #007bff; /* Başlık rengi */
    }

    .page-header p {
        font-size: 1rem; /* Alt metin boyutu */
        color: #6c757d; /* Alt metin rengi */
        margin-top: -5px;
    }

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Genel arama çubuğu stilleri */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

    .search-bar input[type="text"],
    .search-bar input[type="date"] {
        padding: 15px;
        font-size: 16px;
        border: 1px solid #ddd;
        transition: border-color 0.3s;
    }

        .search-bar input[type="text"]:focus,
        .search-bar input[type="date"]:focus {
            border-color: #3498db;
            outline: none;
        }

    .search-bar input[type="text"] {
        border-radius: 20px 0 0 20px;
        width: 350px;
    }

    .search-bar input[type="date"] {
        width: 270px;
        text-align: center;
        cursor: pointer;
    }

#searchButton {
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    background-color: #017BFF;
    border: 1px solid #017BFF;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0 20px 20px 0;
    width: 100px;
}

    #searchButton:disabled {
        background-color: #bdc3c7;
        border: 1px solid #bdc3c7;
        cursor: not-allowed;
    }

    #searchButton:not(:disabled):hover {
        background-color: #0156B3;
        border: 1px solid #0156B3;
    }

.guest-dropdown {
    position: relative;
    display: inline-block;
}

#guestButton {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 410px;
}

    #guestButton:focus,
    #guestButton:hover {
        border-color: #3498db;
        font-weight: bold;
        outline: none;
    }

.guest-dropdown:focus-within #guestButton {
    font-weight: bold;
}


.guest-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

    .guest-dropdown-content .guest-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

        .guest-dropdown-content .guest-type label {
            font-size: 16px;
            font-weight: 500;
        }

        .guest-dropdown-content .guest-type button {
            width: 30px;
            height: 30px;
            font-size: 18px;
            color: #3498db;
            border: 1px solid #ddd;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            .guest-dropdown-content .guest-type button:hover {
                background-color: #3498db;
                color: white;
            }

/* Açılır menü görünümü */
.guest-dropdown:hover .guest-dropdown-content {
    display: block;
}

.loading-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 350px;
    padding-left: 700px;
    display: none;
    flex-direction: column;
}

    .loading-area i {
        font-size: 50px;
    }

    .loading-area p {
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-left: -10px;
    }


.hotel-facilities ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    gap: 1px;
}

.hotel-facilities .facility-area {
    flex: 1 1 calc(5% - 5px);
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

    .hotel-facilities .facility-area i {
        font-size: 14px;
        margin-bottom: 3px;
        display: block;
        color: #555;
    }

    .hotel-facilities .facility-area span {
        font-size: 12px;
        color: #555;
    }


.card-link-container {
    position: relative; /* İkon ve resim aynı konteynerde */
    display: inline-block;
}

.wishlist-icon {
    position: absolute;
    top: 12px; /* Resmin üst kısmında */
    right: 12px; /* Sağ üst köşede */
    color: red;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Link alt çizgisi kaldır */
}

    .wishlist-icon:hover {
        color: darkred;
    }
