
.navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	font-family: 'Arial', sans-serif;
}

	.navbar-nav li {
		position: relative;
	}

	.navbar-nav a {
		display: block;
		padding: 15px 13px;
		text-decoration: none;
		color: white;
		font-weight: 500;
		transition: background-color 0.3s ease, color 0.3s ease;
	}

		.navbar-nav a:hover {
			background-color: #017BFF;
			color: white;
			border-radius: 4px;
		}

	/* Dropdown menu styles */
	.navbar-nav .dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #34495E;
		min-width: 170px;
		z-index: 1000;
		display: none;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}

		.navbar-nav .dropdown-menu li {
			padding: 10px 15px;
			border-bottom: 1px solid #2C3E50;
		}

			.navbar-nav .dropdown-menu li:last-child {
				border-bottom: none;
			}

		.navbar-nav .dropdown-menu a {
			color: white;
			text-decoration: none;
		}

			.navbar-nav .dropdown-menu a:hover {
				background-color: #017BFF;
				color: white;
			}

	/* Show dropdown on hover */
	.navbar-nav li:hover .dropdown-menu {
		display: block;
	}

/* Responsive styling */
@media (max-width: 768px) {
	.navbar-nav {
		flex-direction: column;
		background-color: #2C3E50;
	}

		.navbar-nav li {
			text-align: center;
			margin-bottom: 1px;
		}

		.navbar-nav .dropdown-menu {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
		}
}
