
.navbar .dropdown .dropdown-toggle {
	color: #333;
	text-decoration: none;
}


		/* Dropdown menüdeki her bir <li> öğesi */
		.navbar .dropdown .dropdown-menu li {
			padding: 12px 20px; /* İçerik boşluğu */
			border-radius: 8px;
			border-bottom: 1px solid #ccc; /* Ortadan ayıran çizgi */
			transition: background-color 0.3s ease, transform 0.3s ease; /* Hover'da animasyon */
		}

			/* Hover efektiyle arka plan rengi ve hafif büyüme */
			.navbar .dropdown .dropdown-menu li:hover {
				background-color: #017BFF; /* Mavi arka plan */
				transform: scale(0.96); /* Hover'da hafif büyüme */
				cursor: pointer;
			}

			/* <li> içindeki <a> link stilini düzenleme */
			.navbar .dropdown .dropdown-menu li a {
				color: #343a40; /* Koyu gri yazı rengi */
				text-decoration: none; /* Alt çizgiyi kaldır */
				display: block; /* Linki tam bloğa yay */
				font-weight: 500; /* Yarı kalın yazı */
				transition: color 0.3s ease; /* Renk geçişi */
			}

				/* Hover'da link rengini değiştir */
				.navbar .dropdown .dropdown-menu li a:hover {
					color: #ffffff;
				}

	/* Dropdown menü ve diğer menüler arasındaki boşluk */
	.navbar .dropdown + .dropdown {
		margin-left: 15px; /* Aralık açıldı */
	}

	/* Beyaz renkte dropdown menüler */
	.navbar .dropdown .dropdown-toggle {
		color: #fff; /* Beyaz yazı rengi */
	}

/* General navbar styles */
.navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;

	font-family: 'Arial', sans-serif;
}

	.navbar-nav li {
		position: relative;
	}

	.navbar-nav a {
		display: block;
		padding: 6px 20px;
		text-decoration: none;
		color: white;
		font-weight: bold;
		transition: background-color 0.3s ease, color 0.3s ease;
	}

