/* Genel Stil */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.details-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

    .details-container h2 {
        text-align: center;
        color: #333333;
        margin-bottom: 20px;
    }

/* Kart Stili */
.card {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
    font-weight: bold;
    color: #2C5F50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card-header span {
        margin-left: 10px;
    }

.card-body {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card-row {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

    .card-row label {
        text-align: left;
        color: #555;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
    }

    .card-row span {
        text-align: left;
        font-weight: 600;
        color: #333;
        font-size: 15px;
    }


.btn-edit-personal {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #fc9403;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #fc9403;
    transition: background-color 0.3s ease;
}

    .btn-edit-personal:hover {
        color: #fff;
        background-color: #e68600;
        border: 1px solid #e68600;
    }


.btn-edit-regular {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 600;
    color: #595959;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

    .btn-edit-regular:hover {
        color: #595959;
        background-color: #d9d9d9;
        border: 1px solid #d9d9d9;
    }



/* Mobil Uyum */
@media (max-width: 768px) {
    .details-container {
        padding: 15px;
    }

    .card-body {
        grid-template-columns: 1fr;
    }

    .actions {
        flex-direction: column;
        gap: 10px;
    }

        .actions a {
            width: 100%;
            text-align: center;
        }
}
