/* Genel stil ayarları */
body {
    background-color: #e9ecef; /* Açık gri arka plan */
}

/* Form başlığı */
h2 {
    color: #28a745; /* Yeşil başlık rengi */
    text-align: center;
    margin-bottom: 10px;
}

b {
    color: #495057;
}

/* Form düzeni */
.form-horizontal {
    max-width: 700px; /* Form genişliği */
    margin: 0 auto; /* Ortada konumlandırma */
    background-color: #ffffff; /* Beyaz arka plan */
    padding: 40px; /* İçerik için boşluk */
    border-radius: 12px; /* Kenarları yuvarlat */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Gölge efekti */
}

/* Form alanları */
.form-group {
    margin-bottom: 20px; /* Alanlar arasındaki boşluk */
}

/* Label stilleri */
.control-label {
    font-weight: bold; /* Kalın yazı tipi */
    color: #495057; /* Koyu gri renk */
}

/* Giriş alanları */
.form-control {
    border: 2px solid #ced4da; /* Gri kenar rengi */
    border-radius: 6px; /* Yuvarlatılmış kenar */
    transition: border-color 0.3s, box-shadow 0.3s; /* Kenar rengi ve gölge geçiş efekti */
    padding: 10px; /* İç boşluk */
}

    .form-control:focus {
        border-color: #28a745; /* Yeşil kenar rengi seçildiğinde */
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Yeşil gölge */
    }

/* Hata mesajları */
.text-danger {
    font-size: 0.9em; /* Daha küçük yazı tipi */
    color: #dc3545; /* Kırmızı hata mesajı */
}

/* Bilgilendirme metinleri */
h4, h6 {
    text-align: center; /* Ortada konumlandırma */
    color: #6c757d; /* Orta gri metin rengi */
}


/* Butonlar için stil ayarları */
.button-group {
    display: flex; /* Flexbox kullanarak yan yana yerleştirme */
    justify-content: space-between; /* Aralarındaki boşluğu eşit dağıtma */
}

/* Buton stilleri */
.btn {
    flex: 1; /* Butonların eşit genişlikte olmasını sağlama */
    margin-right: 10px; /* Sağdaki buton için boşluk bırak */
    padding: 12px; /* İç boşluk */
    border: none; /* Kenar yok */
    border-radius: 6px; /* Yuvarlatılmış kenar */
    cursor: pointer; /* İmleçin işareti */
    font-size: 1.0em; /* Daha büyük yazı tipi */
    font-weight: bold; /* Kalın yazı tipi */
    transition: background-color 0.3s; /* Arka plan rengi geçiş efekti */
}

    .btn:last-child {
        margin-right: 0; /* Son butonun sağındaki boşluğu kaldır */
    }

/* Yeşil buton */
.btn-success {
    background-color: #28a745;
    color: #fff;
}

    .btn-success:hover {
        background-color: #218838;
    }

/* Kırmızı buton */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

/* Bağlantı stilleri */
.btn-action-link {

    display: block; /* Bloğa çevir */
    margin-top: 15px; 
    color: #fff;
    font-size: 1.1em; /* Yazı tipi boyutu */
    text-decoration: none; /* Alt çizgi yok */
}

    .btn-action-link:hover {
        color: #fff;
    }

.address-area {
    width: 100%;
    max-width: none;
    box-sizing: border-box;
}