body {
    background-color: #f7f9ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #343a40;
    font-size: 25px;
    font-weight: 600;
}

h4 {
    text-align: center;
    color: #A2A4A6;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -15px;
}

b {
    color: #495057;
}

hr {
    color: #A2A4A6;
    margin-top: -5px;
}

.form-horizontal {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
    color: #495057;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    max-width: 800px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-bottom: 8px;
    font-size: 13px;
}

    .form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
    }

.text-danger {
    text-align: center;
    color: #dc3545;
    font-size: 10px;
    font-weight: 600;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-actions {
    text-align: center;
}

.btn {
    flex: 1;
    margin-right: 10px;
    padding: 6px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.0em;
    font-weight: 500;
    transition: background-color 0.3s;
}

    .btn:last-child {
        margin-right: 0;
    }

.btn-success {
    background-color: #28a745;
    color: #fff;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn-cancel {
    color: #333;
    transition: color 0.3s;
}

    .btn-cancel:hover {
        color: #dc3545;
    }

.btn-action-link {

    display: block;
    margin-top: 15px; 
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}

    .btn-action-link:hover {
        color: #fff;
    }

.address-area {
    width: 100%;
    max-width: none;
    box-sizing: border-box;
}

.info-text {
    color: #28A745;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    display: flex;
}

.profile-info p {
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
}

.profile-info span {
    color: #888;
    font-size: 12px;
    margin-left: 15px;
}